@media (max-width: 1200px)
  .container
    max-width: 960px

  .slider
    width: 590px

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px

  .navbar
    &-top
      padding: 30px 0 30px 0
    &__search
      margin: auto


    &-menu
      padding: 22px 0 22px 0
      &__link
        font-size: 12px
        line-height: 15px


  .logo
    width: 132px
    &__image
      width: 100%


  .search
    width: 340px

  .hotel
    &-grid
      flex-direction: column

      &__right
        flex-direction: row

      &__left
        margin-bottom: 30px

      &__map
        width: 340px
        margin-top: 0
        margin-left: 20px

  .booking
    padding: 29px 23px 26px 23px

  .slider
    width: 100%

@media (max-width: 768px)


  .container
    max-width: 576px
    width: 90%


  .navbar
    &__search, &__user, &-bottom
      display: none
    &-top
      &__menu-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        width: 16px
        height: 11px
        border: none
        background-color: $light
        cursor: pointer


  .menu-button
    &__line
        background-color: $text-color
        width: 16px
        height: 1px


  .star
    flex-basis: content


  .hotel
    &-info
      &__wrapper
        justify-content: space-between
      &__offer
        order: -1
        margin: 5px 0 10px 0
      &__rating
        display: none
    &-name
      flex-basis: 100%


    &-grid
      &__left
        margin-bottom: 20px

      &__right
        flex-direction: column

      &__map
        width: 100%
        margin-left: 0
        margin-top: 20px

  .slider
    height: 450px
    object-fit: cover

  .booking
    width: 100%

  .newsletter
    &-wrapper
      max-width: 576px
      width: 90%
      flex-direction: column
      align-items: flex-start
  .subscribe
    margin-left: 0

@media (max-width: 576px)
  .logo
    width: 99px

  .slider
    height: 250px

  .newsletter
    &-title
      font-size: 20px
      line-height: 25px

      &__strong
        font-style: 30px
        line-height: 38px
  .subscribe
    width: 280px