.hotel
  background-color: $secondary
  padding: 23px 0 70px 0

  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px

    &__wrapper
      display: flex
      flex-wrap: wrap
      align-items: center

    &__rating
      display: flex
      flex-wrap: wrap
      flex-direction: column
      align-items: center
      width: 65px
      height: 45px
      background-color: $primary-color
      border-radius: 4px
      color: $light

    &__offer
      background-color: $primary-color
      font-size: 10px
      line-height: 13px
      padding: 4px 9px
      border-radius: 3px
      color: $light

  &-grid
    display: flex
    justify-content: space-between

    &__map
      width: 347px
      height: 213px
      margin-top: 27px
      border-radius: 10px
      overflow: hidden

  &-name
    padding: 0 14px 0 0
    margin: 0
    text-transform: uppercase
    font-size: 24px
    line-height: 30px

.star
  flex-basis: 100%
  padding-bottom: 4px

.description
  margin: 0
  font-size: 12px
  line-height: 15px

.rating
  &__text
    font-size: 8px
    line-height: 10px
    padding-top: 9px

  &__counter
    font-size: 14px
    line-height: 18px

  &__under
    font-size: 10px
    line-height: 18px

.slider
  width: 728px
  &-button
    position: absolute
    border: none
    width: 30px
    height: 30px
    background-color: transparent
    z-index: 99
    top: 50%
    transform: translatey(-50%)
    cursor: pointer

    &--prev
      left: 18px
      background-image: url(../img/prev.svg)
      background-repeat: no-repeat
      background-position: center

    &--next
      right: 18px
      background-image: url(../img/next.svg)
      background-repeat: no-repeat
      background-position: center

.swiper
  width: 100%
  height: 450px
  position: relative
  border-radius: 8px

  &:after
    content: ''
    right: 0
    left: 0
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    position: absolute
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255,255,255, 0.128) 100%)
    z-index: 10

.booking
  background-color: $dark
  max-width: 350px
  height: 210px
  border-radius: 8px
  padding: 28px 27px

  &-info
    display: flex
    justify-content: space-between
    color: $light

  &__button
    padding: 13px 84px
    font-size: 14px
    line-height: 19px
    color: $light
    border-radius: 4px
    background-color: $primary-color
    border: none

.price
  display: flex
  flex-direction: column
  margin-right: 129px
  margin-bottom: 9px

  &__starting-price
    font-size: 10px
    font-weight: 14px

  &__price-tag
    font-size: 24px
    font-weight: 33px

  &__room
    font-size: 12px
    font-weight: 16px

.person-room
  font-size: 12px
  line-height: 16px
  margin-top: 4px

  &__text
    margin-bottom: 8px
    display: flex
    justify-content: space-between

  &__guests
    margin-left: 9px

.call-center
  display: flex
  justify-content: space-between
  color: $light

  &__quick
    color: inherit
    font-size: 18px
    line-height: 25px
    margin-bottom: 17px

  &__number
    text-decoration: none
    color: inherit

  &__numbers
    font-size: 18px
    line-height: 25px
    margin-left: 8px


