.section
  &-title
    font-size: 36px
    line-height: 45px
    text-transform: uppercase
    text-align: center
    padding: 40px 0 70px 0
    margin: 0

.reviews
  &-users
    display: flex
    align-items: center
    flex-direction: column

  &-slider
    max-width: 731px
    height: 325px
    display: flex
    align-items: center

.presentation
  &-slides
    &__item
      display: flex
      align-items: center
      flex-direction: column

    &__profile
      width: 97px
      height: 149px
      display: flex
      flex-direction: column
      align-items: center

    &__avatar
      width: 90px
      height: 90px
      border-radius: 50%
      object-fit: cover
      margin-bottom: 9px

    &__username
      font-size: 12px
      line-height: 15px
      color: $primary-color
      margin: 0 0 10px 0

    &__date
      font-size: 10px
      line-height: 13px

    &__text
      font-size: 12px
      line-height: 20px
      text-align: justify